<%layout("/layouts/boilerplate")%>

<body>
    
    <h3>admin login page</h3>
    <br>
    <form action="adminLogin" method="post">
        <label for="ip">Enter the password</label>
        <input type="password" id="ip" name="password">
        <button class="btn btn-dark">Login</button>
    </form>

</body>