<% layout("layouts/boilerplate") %>


<body>
    
    <h1>welcome....</h1>
    <form action="/new">
        <button class="btn btn-dark">
            click here to give feedback
        </button>

        
    </form>
    <br>
    <form action="/admin" method="get">
        <button class="btn-dark btn">
            click here for admin login
        </button>
    </form>
</body>