<% layout("layouts/boilerplate")%>
<body>
  <form action="/new/add", method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" name="fb[email]" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Give ur valuable feedback</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="fb[text]"""></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Give ur valuable rating</label>
      <input type="number" name="fb[rating]" id="" value="0">
    </div>
    <form action="">
      <button>
        send
      </button>
    </form>

  </form>

      
</body>         
